/*** STRUCTURE ***/

body {
    background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    -webkit-font-smoothing: antialiased;
}

h1 {
    font-size: 32px;
    font-weight: 700;
    line-height: 28px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}
h1 a {
    color: #000;
}
h2 {
    color: #000;
    font-size: 32px;
    font-weight: 700;
    margin: 0 0 20px 0;
    padding: 0;
    text-transform: uppercase;
}
label {
    color: #000;
    font-family: 'Raleway', sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
}

nav#side-nav {
    background-color: #f0f0f0;
}

div.form {
    background-color: #f0f0f0;
}

div.form img {
    margin: 10px 0;
}


/*** MAIN CONTENT ***/

main {
    
}

main div.container {
    margin: 20px 0 0 300px;
    max-width: 70%;
}


/*** NAVIGATION ***/

nav#side-nav {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 400;
    left: 20px;
    padding: 70px 20px;
    position: fixed;
    top: 20px;
    width: 270px;
}

nav#side-nav ul {
    list-style-type: none;
    margin: 20px 0;
    padding: 0;
}

nav#side-nav ul li {
    margin: 0;
}

nav#side-nav ul li a {
    color: #6c6c6c;
    text-decoration: none;
}


/*** FORMS ***/

div.form {
    box-shadow: 0 7px 14px 0 rgba(60, 66, 87, 0.2),
        0 3px 6px 0 rgba(0, 0, 0, 0.14);
    padding: 2rem;
}

a.button.back {
    background-color: #666;
}

fieldset {
    margin: 1rem 0;
}

input, label, select, textarea, .input.checkbox {
    margin: 0;
}

table.index td {
    border-bottom: 1px;
}

th {
    padding: 1rem 0;
}

td {
    border: 0;
    padding: 1rem 0;
}

td.label {
    width: 200px;
}


/*** PHOTO GALLERIES ***/

div.gallery ul.photos {
    list-style-type: none;
}

div.gallery ul.photos li {
    margin-bottom: 100px;
}

div.gallery ul.photos li p.title {
    color: #000;
}


/*** ADMIN ***/

table.gallery ul.photos {
    list-style-type: none;
}

table.gallery ul.photos li {
    background-color: #f6f6f6;
    border: 1px solid #ccc;
}

table.gallery ul.photos li table {
    margin: 10px;
}

table.gallery ul.photos li table td {
    line-height: 0;
    padding: 0;
}

table.gallery ul.photos li table td.tnail {
    width: 130px;
}

table.gallery ul.photos li table td.tnail img {
    margin: 0;
}

table.gallery ul.sortable {
    cursor: move;
}


/*** UTILITY ***/

.clear {
    clear: both;
    float: none;
    height: 0;
}


/*** MOBILE ***/

@media screen and (max-width: 1120px) {

    /*** TYPOGRAPHY ***/

    h1 {
        font-size: 32px;
        line-height: 36px;
    }
    h2 {
        font-size: 28px;
    }
    h3 {
        line-height: 26px;
    }

    /*** PAGE LAYOUT + CONTENT ***/
    body {
        padding: 10px;
    }
    nav#side-nav {
        background-color: #f8f8f8;
        margin: 0 0 20px 0;
        padding: 20px 20px;
        position: static;
        width: auto;
        font-family: 'Raleway', sans-serif;
        font-size: 30px;
        font-weight: 400;
    }
    main div.container {
        font-size: 16px;
        line-height: 20px;
        margin: 0;
        max-width: 100%;
        padding: 0;
        position: static;
        width: 100%;
    }
    div.gallery ul.photos li {
        margin-bottom: 30px;
    }

}
